@model PortalDocPat.Models.Doctor

<h2 class="text-primary">Editare doctor cu id @Model.DoctorId : @Model.Name</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Doctors", routeValues: new { id = Model.DoctorId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("Nume", "Nume Doctor")<br />
    @Html.EditorFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Telefon", "Numar de telefon")
    <br />
    @Html.TextArea("Telefon", null, new { @class = "form-control" })
    @Html.ValidationMessage("Telefon", "", new { @class = "text-danger" })
    <br />

    @Html.Label("Pret", "Pret Produs")<br />
    @Html.EditorFor(m => m.PriceRate)
    @Html.ValidationMessageFor(m => m.PriceRate, "", new { @class = "text-danger" })
    <br /><br />


    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.SpecializationId, new SelectList(Model.Spec, "Value", "Text"), "Selectati specializarea", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SpecializationId, "", new { @class = "text-danger" })
    <br />

    <button class="btn btn-sm btn-success" type="submit">Modifica informatii</button>