<style>
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-36_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e77ca41f1c0b52331b41ac8cdfed783a");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
</style>

<div class="container-fluid">

    <div class="row" style="margin:5px 0 5px 0;">
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sorteaza dupa
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/Doctors/SortareDoctori/1">Pret Crescator</a></li>
                    <li><a class="dropdown-item" href="/Doctors/SortareDoctori/2">Pret Desrescator</a></li>
                    <li><a class="dropdown-item" href="/Doctors/SortareDoctori/3">Rating Crescator</a></li>
                    <li><a class="dropdown-item" href="/Doctors/SortareDoctori/4">Rating Desrescator</a></li>
                    <li><a class="dropdown-item" href="/Doctors/SortareDoctori/5">Alfabetic</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="card card-sm" method="GET">
                <input class="form-control form-control-lg form-controlborderless pull-left" type="text" name="search" value="@ViewBag.SearchString" placeholder="Search topics or keywords">
                <button class="btn btn-success pull-right" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap: 10px;">
        @foreach (PortalDocPat.Models.Doctor doctor in ViewBag.Doctors)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/Doctors/Show/@doctor.DoctorId">
                        <h3 class="text-center text-primary">@doctor.Name</h3>
                    </a>
                    <hr />
                    <a href="/Doctors/Show/@doctor.DoctorId">
                        <img class="img-responsive" src="@doctor.Photo" alt="poza produsului" style="height:200px; margin:auto;" />
                    </a>
                    <br /><br />
                          <h4>
                              Rating:&ensp;
                              @if (!float.IsNaN(doctor.Rating))
                              {
                                  var j = 0;
                                  for (var i = 1; i <= doctor.Rating; i++)
                                  {
                                      <i class="fa fa-star" style="color:gold;"></i>
                                      j++;
                                  }
                                  if (doctor.Rating - j != 0)
                                  {
                                      <i class="fa fa-star-half-full" style="color:gold;"></i>
                                  }
                                  for (var i = 10 - doctor.Rating; i >= 1; i--)
                                  {
                                      <i class="fa fa-star-o" style="color:gold;"></i>
                                  }
                              }
                              else
                              {
                                  <a href="/Doctors/Show/@doctor.DoctorId">Fii primul care lasa un review!</a>
                              }
                          </h4>
                    @{ 
                        var pret = doctor.Specialization.Price * doctor.PriceRate;
                    }
                    <h4>Pret consultatie: @pret RON</h4>
                    <h4>Specializare: @doctor.Specialization.SpecializationName</h4>
                </div>
                <div class="panel-footer" style="display:block">
      
                    <div class="pull-right">
                        <form method="post" action="/Consultations/New">
                            <input type="hidden" name="DoctorId" value="@doctor.DoctorId" />
                            <input type="hidden" name="PatiendId" value="@ViewBag.Patient.PatiendId" />
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-shopping-bag">&ensp;Solicita programare</i>
                            </button>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    </div>


    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    @if (ViewBag.search != "")
                    {
                        <a href="/Doctors/Index?page=1&search=@ViewBag.SearchString"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    }
                    else
                    {
                        <a href="/Doctors/Index?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    }
                </li>
                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    if (ViewBag.search != "")
                    {
                        <li>
                            <a href="/Doctors/Index?page=@i&search=@ViewBag.SearchString">@(i)</a>
                        </li>
                    }
                    else
                    {
                        <li><a href="/Doctors/Index?page=@i">@(i)</a></li>
                    }
                }
                <li>
                    @if (ViewBag.search != "")
                    {
                        <a href="/Doctors/Index?page=@(ViewBag.lastPage)&search=@ViewBag.SearchString" arialabel="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    }
                    else
                    {
                        <a href="/Doctors/Index?page=@(ViewBag.lastPage)" arialabel="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>
</div>

