
@model PortalDocPat.Models.Doctor
<br />
<a class="btn btn-info" href="/Doctors/Index"><i class="fa fa-arrow-left"></i>  Inapoi la lista de doctori</a>
<br /><br />
<div class="panel panel-default">
    <div class="panel-body">
        <h4 class="text-center text-primary">@Model.Name</h4>
        <img class="img-responsive" src="@Model.Photo" alt="poza produsului" style="height:200px; margin:auto;" />
        <hr />
        <div class="row">
            <div class="col-md-4">
                <h4>
                    Rating:&ensp;
                    @if (Model.Rating != 0)
                    {
                        var j = 0;
                        for (var i = 1; i <= Model.Rating; i++)
                        {
                            <i class="fa fa-star" style="color:gold;"></i>
                            j++;
                        }
                        if (Model.Rating - j != 0)
                        {
                            <i class="fa fa-star-half-full" style="color:gold;"></i>
                        }
                        for (var i = 10 - Model.Rating; i >= 1; i--)
                        {
                            <i class="fa fa-star-o" style="color:gold;"></i>
                        }
                    }
                    else
                    {
                        <p>Fii primul care lasa un review!</p>
                    }
                </h4>
                @{
                    var pret = Model.Specialization.Price * Model.PriceRate;
                }
                <h4>Pret consultatie: @pret RON</h4>
                <h4>Specializare: @Model.Specialization.SpecializationName</h4>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-5">
                @if (Model.UserId == ViewBag.UtilizatorCurent || ViewBag.esteAdmin)
                {
                    <a class="btn btn-warning" href="/Doctors/Edit/@Model.DoctorId"><i class="fa fa-edit"></i> Modifica informatii</a>
                }
            </div>
            <div class="col-md-3" style="display:flex;">

     
                <a class="btn btn-success" href="/Consultations/New/@Model.DoctorId"><i class="fa fa-shopping-bag"></i>&ensp;Solicita programare</a>

            </div>
            <div class="col-md-4">
                @if (Model.UserId == ViewBag.UtilizatorCurent || ViewBag.esteAdmin)
                {
                    using (Html.BeginForm(actionName: "Delete", controllerName: "Doctors", method: FormMethod.Post, routeValues: new { id = @Model.DoctorId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-danger pull-right" type="submit"><i class="fa fa-trash"></i> Sterge doctor</button>
                    }
                }
            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="/Doctors/NewReview">
                    <input type="hidden" name="DoctorId" value="@Model.DoctorId" />
                    <label for="rating-1">
                        <input id="rating-1" class="form-check-input" type="radio" name="Grade" value="1">&ensp;1&ensp;
                    </label>
                    <label for="rating-2">
                        <input id="rating-2" class="form-check-input" type="radio" name="Grade" value="2">&ensp;2&ensp;
                    </label>
                    <label for="rating-3">
                        <input id="rating-3" class="form-check-input" type="radio" name="Grade" value="3">&ensp;3&ensp;
                    </label>
                    <label for="rating-4">
                        <input id="rating-4" class="form-check-input" type="radio" name="Grade" value="4">&ensp;4&ensp;
                    </label>
                    <label for="rating-5">
                        <input id="rating-5" class="form-check-input" type="radio" name="Grade" value="5" checked>&ensp;5&ensp;
                    </label>
                    <label for="rating-5">
                        <input id="rating-5" class="form-check-input" type="radio" name="Grade" value="5" checked>&ensp;5&ensp;
                    </label>
                    <label for="rating-6">
                        <input id="rating-6" class="form-check-input" type="radio" name="Grade" value="6" checked>&ensp;6&ensp;
                    </label>
                    <label for="rating-7">
                        <input id="rating-7" class="form-check-input" type="radio" name="Grade" value="7" checked>&ensp;7&ensp;
                    </label>
                    <label for="rating-8">
                        <input id="rating-8" class="form-check-input" type="radio" name="Grade" value="8" checked>&ensp;8&ensp;
                    </label>
                    <label for="rating-9">
                        <input id="rating-9" class="form-check-input" type="radio" name="Grade" value="9" checked>&ensp;9&ensp;
                    </label>
                    <label for="rating-10">
                        <input id="rating-10" class="form-check-input" type="radio" name="Grade" value="10" checked>&ensp;10&ensp;
                    </label>
                    @Html.ValidationMessage("Grade", "", new { @class = "text-danger" })
                    <br />
                    <label>
                        Continut review
                    </label>
                    <textarea class="form-control" name="Comment" style="box-sizing: border-box; max-width: 100%; min-height:150px;"></textarea>
                    @Html.ValidationMessage("Comment", "", new { @class = "text-danger" })
                    <h5 class="text-danger">@ViewBag.Message</h5>
                    <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Adauga review</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@foreach (var rev in Model.Reviews)
{
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7" style="border-bottom:1px solid black">
            <br />
            <div>
                <strong>Rating: </strong>@rev.Grade din 10
            </div>

            <div>
                <p>@rev.Comment</p>
                <small class="pull-right">@rev.Date</small>
            </div>

            @if (rev.UserId == ViewBag.UtilizatorCurent || ViewBag.esteAdmin)
            {
                <div style="display: inline-block; float : left; margin-right: 15px">
                    <a class="fa fa-edit" href="/Reviews/Edit/@rev.ReviewId"></a>
                </div>
                <div style="display: inline-block; float : left">
                    <form method="post" action="/Reviews/Delete/@rev.ReviewId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                    </form>
                </div>
            }
            <br />
            <br />
        </div>
        <div class="col-md-4"></div>
    </div>
}

