<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<style>
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) );
        background-image: url('../../Content/Images/background.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
</style>
<body >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="display:inline;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="dropdown">
                    <button class="buton_setari" style="background-color:transparent; border: none; outline: none; font-size:32px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<li>@Html.ActionLink("Acasa", "Index", "Home")</li>
						<li> @Html.ActionLink("Doctori", "Index", "Doctors")</li>
						@if (!User.IsInRole("Admin")) // ca sa apara si pentru facebook login (nu merge cu patient)
						{

							<li>@Html.ActionLink("Informatii personale", "Show", "Patients")</li>
						}
						@if (User.IsInRole("Admin"))
						{
							<li>@Html.ActionLink("Afisare specializari", "Index", "Specializations")</li>
							<li>@Html.ActionLink("Adaugare specializari", "New", "Specializations")</li>
							<li>@Html.ActionLink("Adaugare Doctor", "New", "Doctors")</li>
							<li>@Html.ActionLink("Afisare utilizatori", "Index", "Users")</li>
						}

						<li>@Html.ActionLink("Despre noi", "About", "Home")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					</ul>
                </div>
            </div>
            <div class="navbar-collapse collapse" style="font-size:20px">
                @Html.ActionLink(" Clinica MedSana", "Index", "Doctors", new { area = "" }, new { @class = "navbar-brand" })
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Clinica MedSana&trade;</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
